*.suo
lavanderia/lavanderia.suo
*.pdb
*.exe
*.cache
*.exe
*.txt
lavanderia\lavanderia\bin\Debug*/
lavanderia\lavanderia\obj\x86\Debug*/
*.manifest
ControlCalidad\DAL\bin\Debug*/
ControlCalidad/DAL/obj/Debug/DAL.dll
ControlCalidad/DAL/bin/Debug/DAL.dll